/*
* @Author: Kjeragbolten
* @Date:   2018-08-15 15:11:32
* @Last Modified by:   Kjeragbolten
* @Last Modified time: 2018-08-15 15:11:32
*/
html {
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #fff;
}